@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Thanh toán thành công!</title>
</head>

<body>
    <div id="top-pattern"></div>
    <div id="wrapper">
        <h2>@ViewBag.Message</h2>
    </div>
</body>
</html>
